{%- assign buildAt = site.time | date: "%Y%m%d%H%M%S" -%}
<script type="text/javascript" src="{{site.baseurl}}/static/js/blog.js?t={{ buildAt }}"></script>
<script type="text/javascript" src="{{site.baseurl}}/static/js/search.js?t={{ buildAt }}"></script>

{%- if site.extClickEffect %}
<!-- 点击页面文字冒出特效 -->
<script>
;(function(){
  var textArr = ['邱邱', 'Big Ass', '无敌晨豪', '陈燕豪霞', '马翔', '时间斗罗', '千手修罗', '爆炸哥', '无鸟哥', '黑闪先生', 'Gay洋', '电报员','戒哥','曙光守护者','海弟']
  window.blog.initClickEffect(textArr)
})()
</script>
{% endif %}

{%- if site.extMath and page.layout=="mypost" -%}
{% include ext-mathjax.html %}
{% endif %}
